.postProblemWrapper{
    width: 1190px;
    margin: 0 auto;
}
.postProblemSection{
    padding: 30px 137px;
}

.postProblemSection > div{
    margin-top: 50px;
}

.postProblemSection > div > label{
    font-size: 20px;
    font-family: 'SpoqaM';
    color: #333;
}

.problemNumBox{
    display: flex;
    flex-direction: column;
}
.problemNumBox > label{
    margin-bottom: 10px;
}
.problemAlgoBox{
    display: flex;
    flex-direction: column;
}
.problemAlgoBox > label{
    margin-bottom: 10px;
}

.problemTypeBox{

}
.problemTypeBox>label{

}
.problemLangBox{

}
.problemInputBox{
    height: 40px;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
}
.problemCheckBox{
    display: flex;
    gap: 17px;
    align-items: center;
}

.problemDescriptionBox{
    display: flex;
    flex-direction: column;
}
.problemDescriptionBox>textarea{
    resize: none;
    width: 918px;
    height: 480px;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
}

.problemBtnBox{

}