@font-face {
    font-family: 'SpoqaL';
    font-display: fallback;
    src: url('./fonts/SpoqaHanSansNeo-Light.eot') format('embedded-opentype'),
        url('./fonts/SpoqaHanSansNeo-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'SpoqaR';
    font-display: fallback;
    src: url('./fonts/SpoqaHanSansNeo-Regular.eot') format('embedded-opentype'),
        url('./fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SpoqaM';
    font-display: fallback;
    src: url('./fonts/SpoqaHanSansNeo-Medium.eot') format('embedded-opentype'),
        url('./fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
}