* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SpoqaR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}

img {
  vertical-align: bottom;
}

ul, li,p {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input:focus { outline: none; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}