body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SpoqaL';
  font-display: fallback;
  src: url('./fonts/SpoqaHanSansNeo-Light.eot') format('embedded-opentype'),
      url('./fonts/SpoqaHanSansNeo-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaR';
  font-display: fallback;
  src: url('./fonts/SpoqaHanSansNeo-Regular.eot') format('embedded-opentype'),
      url('./fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaM';
  font-display: fallback;
  src: url('./fonts/SpoqaHanSansNeo-Medium.eot') format('embedded-opentype'),
      url('./fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaB';
  font-display: fallback;
  src: url('./fonts/SpoqaHanSansNeo-Bold.eot') format('embedded-opentype'),
      url('./fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

ul, li {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}