.filterContainer{
    max-width: 1190px;
    margin: 100px auto;
}

.filter > h4{
    font-size: 26px;
    font-family: 'SpoqaM';
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 5px;
}

.filter > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    padding-top: 15px;
}

.filter > ul > li {
    font-size: 18px;
    font-family: 'SpoqaR';
    padding: 10px 20px;
    border: 1px solid #D0D0D0;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.algorithmFilter {
    margin-bottom: 50px;
}

.problemFilter {

}

.focusIn{
    transform: scale(1.05);
}
.focusOut{
    transform: scale(1);
}